
.nav_container{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    left: 50%;
    transform: translateX(-50%);
}

.logo_firstName{
    color: var(--accent);
    font-weight: bold;
}

.logo_lastName{
    color: #6a6a6a;
    font-weight: bold;
}

.nav_links{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.nav_links a{
    position: relative;
    color: #acacac;
}

.nav_links a:hover{
    color: white;
}

.nav_links a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    transform: scaleX(0);
    left: 0;
    background-color: var(--accent);
    transform-origin: center;
    transition: transform 0.50s;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.nav_links .active_link{
    color: white;
}

.nav_links .active_link::after{
    transform: scaleX(1);
}

.nav_links a:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.icons a{
    transition: all 0.25s;
    font-size: 25px;
}

.icons a:hover{
    color: var(--accent);
    transform: scale(1.1);
    transition: all 0.25s;
}